body{
  background-color: lightblue;
  text-align: center;
  margin: 1%;
}
div{
  padding: 1%;
    margin: 1%;
    border:inherit 5px #000000;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;


}
.form{
line-height: 125%;

}

.nomDeconnexion{
  padding: 0.5%;
  background-color: lightgray;
  position: fixed;
  right:2%;
  top:0%;
  color: black;
  border:solid black 2px;
  border-radius:5px;
}

a{
  text-decoration:none;
}

a:visited{
color: blue;
}
a:hover{
  color: Green;
}

.nomDeconnexion a{
  color: Green;
  text-decoration: none;
}

.nomDeconnexion a:hover{
  text-decoration: underline;
}


.index{
  text-align: center;


}


.cf1{
  margin-top:2%;
  margin-bottom:10% ;
}

.fo{
  margin: 0px;
  padding: 0px;
}
