body{
  background-color: lightblue;
  text-align: center;
  margin: 1%;
}
div{

    margin: 1%;
    border:inherit 5px #000000;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;


}

.nomDeconnexion{
  padding: 0.5%;
  background-color: lightgray;
  position: fixed;
  right:2%;
  top:2%;
  color: black;

}

a:visited{
color: black;
}
a:hover{
  color: Green;
}

.nomDeconnexion:a{
  color: Green;
}


.index{
  text-align: center;


}


.cf1{
  margin-top:2%;
  margin-bottom:10% ;
}
