body{
  background-color: lightblue;
  text-align: center;
}
div{

    margin: 1%;
    border:inherit 5px #000000;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;


}


.index{
  text-align: center;


}


.cf1{
  margin-top:2%;
  margin-bottom:10% ;
}
